.details-section {
  padding: 5% 3%;
  background-color: goldenrod;
  margin: 0px 0px;
}

.details-image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  height: 65vh;
}

.details-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  width: 70%;
}

.details-imagelist-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: rgba(245, 245, 245, 0.123);
  width: 150px;
  padding: 10px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.details-imagelist-section span {
  background-color: whitesmoke;
  width: 90%;
  height: 120px;
  border-radius: 10px;
  margin: 5px 0px;
  cursor: pointer;
}

.details-imagelist-section span img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  filter: drop-shadow(0px 8px 8px black);
}

.details-main-image-section {
  display: block;
  background-color: rgba(245, 245, 245, 0.123);
  width: 80%;
  height: 100%;
}

.details-main-image-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0px 8px 8px black);
}

.details-image-details-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  right: 3%;
  width: 25%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  max-height: 600px;
}

.details-image-details-top-rated {
  position: absolute;
  right: -10px;
  top: -15px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.192));
}

.details-image-details-section span {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-family: poppins, sans-serif;
  font-weight: bold;
}

.details-image-details-short-description {
  display: flex;
  flex-direction: column;
}

.details-image-details-short-description h3 {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 15px;
  font-family: poppins, sans-serif;
  font-weight: bold;
}

.details-image-details-short-description p {
  font-size: 13px;
}

.details-image-details-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
 .details-image-details-buttons-cart {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid goldenrod;
  background-color: transparent;
  color: goldenrod;
  outline: none;
  text-transform: capitalize;
  font-size: 13px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
}
 .details-image-details-buttons-cart:hover {
  background-color: goldenrod;
  color: white;
  transition: 0.3s linear;
}
 .details-image-details-buttons-wishlist {
  padding: 5px 10px;
  border: none;
  border: 1px solid goldenrod;
  background-color: transparent;
  color: goldenrod;
  border-radius: 5px;
  outline: none;
  text-transform: capitalize;
  margin-left: 20px;
  font-size: 13px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
}
 .details-image-details-buttons-wishlist:hover {
  background-color: goldenrod;
  color: white;
  transition: 0.3s linear;
}

.details-description {
  background-color: whitesmoke;
  width: 60%;
  margin: 40px 0px;
  margin-top: 70px;
  font-size: 15px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 10px;
  color: rgb(71, 71, 71);
}

.details-reviews-section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-bottom: 50px;
  width: 100%;
}

.details-reviews-section h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  margin: 10px 0px;
}

.details-related-section {
}

.details-related-section h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  margin: 10px 0px;
}

.details-reviews-sect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.details-reviews-container {
  background-color: black;
  width: 300px;
  margin: 20px 0px;
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  color: rgb(71, 71, 71);
  margin: 20px;
  position: relative;
}

.details-reviews-thumbnail {
  display: block;
  position: absolute;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 30px;
}

.details-reviews-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.details-reviews-container h3 {
  font-size: 20px;
}

.details-reviews-container p {
  font-size: 13px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.details-related-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: transparent;
  overflow: hidden;
  background-color: transparent;
  height: 400px;
}
