/* import section */
@import url("./home.css");
@import url("./cart.css");
@import url("./about.css");
@import url("./header.css");
@import url("./swiper.css");
@import url("./footer.css");
@import url("./contact.css");
@import url("./details.css");
@import url("./products.css");
@import url("./sponsors.css");

*{
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    display: border-box;
}

html{
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    display: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    display: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

/* main{
    padding-top: 20vh !important;
} */